.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}


.App-logo {
  height: 80px; /* Reducir el tamaño del logo */
  pointer-events: none;
}

.App-header {
  background-color: transparent; /* Eliminar el fondo negro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.contentContainer {
  padding-top: 50px; /* Ajusta este valor según la altura de tu NavBar */
}
