.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  max-width: 800px;
  margin: 40px auto;
}

.title {
  font-size: 2.5em;
  color: #333;
}

.dogImage {
  max-width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  background: url('../../assets/PAW-print.png') center no-repeat; /* Replace with your paw print image */
  background-size: contain;
}

.info p {
  font-size: 1.2em;
  color: #666;
  margin: 5px 0;
}

.temperaments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.temperament {
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.9em;
}

.loading, .error {
  font-size: 1.5em;
  color: #d9534f;
}

/* Decorative paw print */
.detailContainer::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  background: url('../../assets/PAW-print.png') no-repeat; /* Replace with your paw print image */
  background-size: cover;
  width: 100px; /* Adjust size as needed */
  height: 100px;
  opacity: 0.2;
}

@media (max-width: 768px) {
  .detailContainer {
    width: 90%;
    box-shadow: none;
  }
}