.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Asegurar alineación central */
  justify-content: flex-start;
  width: 100%; /* Permitir que el contenedor ocupe todo el ancho */
  max-width: 1200px; /* Establecer un ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%; /* Permitir que el área de contenido ocupe todo el ancho */
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  justify-content: center; /* Centrar los elementos en el grid */
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
