.navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #333;
}

.navBar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navBar a:hover {
  background-color: #555;
}

.active {
  background-color: #777;
}